name: Add issues to On Call project

on:
  issues:
    types:
    - opened
    - labeled

jobs:
  add-to-project:
    name: Add issue to "On Call"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/add-to-project@v0.3.0
      with:
        project-url: https://github.com/orgs/sourcery-ai/projects/3
        github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
